[submodule "mfit"]
	path = mfit
	url = https://github.com/sjgershm/mfit.git
[submodule "eeglab"]
	path = eeglab
	url = https://github.com/sccn/eeglab.git
[submodule "Mass_Univariate_ERP_Toolbox"]
	path = Mass_Univariate_ERP_Toolbox
	url = https://github.com/dmgroppe/Mass_Univariate_ERP_Toolbox.git
